/* Website form */

.hidden_div {
  display: none;
}
.alert {
  margin-bottom: 0;
  padding: 6px 12px;
}
#website_list {
  margin: 20px 0;
}
#website_form {
  margin-top: 10px;
}
.required {
  font-size: 0.9em;
  color: #ff0000;
  font-style: normal;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

/* List of websites */

.item {
  margin-bottom: 20px;
}
.votes {
  display: inline;
  margin-left: 5px;
  margin-right: 10px;
}
.positive {
  color: #449d44;
}
.negative {
  color: #c9302c;
}
.date {
  margin-top: 8px;
}
.btn-info {
  padding: 2px 10px;
  width: 10%;
}

/* Website details */

.row-header {
  margin-top: 20px;
}
.data_title {
  font-weight: bold;
  font-size: 14px;
}
.date {
  margin-top: 0;
}
#comment-form {
  margin-top: 10px;
}
#website_title {
  margin-bottom: 20px;
}
h2, blockquote {
  font-size: 110%;
}

/* Footer */

.main_footer {
  text-align: right;
}
