/* Website form */

.hidden_div {
  display: none;
}
.alert {
  margin-bottom: 0;
}
#website_list {
  margin-top: 20px;
}
#website_form {
  margin-top: 10px;
}

/* List of websites */

.item {
  margin-bottom: 10px;
}
.votes {
  display: inline;
  margin-left: 5px;
  margin-right: 10px;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.date {
  margin-top: 8px;
}
