/* Website form */

.hidden_div {
  display: none;
}
.alert {
  margin-bottom: 0;
}
#website_list {
  margin-top: 20px;
}
#website_form {
  margin-top: 10px;
}

.required {
  font-size: 0.9em;
  color: #ff0000;
  font-style: normal;
}

/* List of websites */

.item {
  margin-bottom: 10px;
}
.votes {
  display: inline;
  margin-left: 5px;
  margin-right: 10px;
}
.positive {
  color: #449d44;
}
.negative {
  color: #c9302c;
}
.date {
  margin-top: 8px;
}
