/* Website form */

.hidden_div {
  display: none;
}
.alert {
  margin-bottom: 0;
}
#website_list {
  margin: 20px 0;
}
#website_form {
  margin-top: 10px;
}
.required {
  font-size: 0.9em;
  color: #ff0000;
  font-style: normal;
}

/* List of websites */

.item {
  margin-bottom: 20px;
}
.votes {
  display: inline;
  margin-left: 5px;
  margin-right: 10px;
}
.positive {
  color: #449d44;
}
.negative {
  color: #c9302c;
}
.date {
  margin-top: 8px;
}
.btn-info {
  padding: 2px 10px;
  width: 10%;
}

/* Website details */

.row-header {
  margin-top: 20px;
}
.data_title {
  font-weight: bold;
  font-size: 14px;
}
.date {
  margin-top: 0;
}
#comment-form {
  margin-top: 10px;
}
#website_title {
  margin-bottom: 20px;
}
h2, blockquote {
  font-size: 110%;
}

/* Footer */

.main_footer {
  text-align: right;
}
