<!-- Website Form and List template -->
<template name="websites_view">
  {{> website_form}} {{> website_list}}
</template>

<!-- Add new website form -->
<template name="website_form">
  {{> website_form_header}} {{>website_form_body}}
  <hr>
</template>

<!-- Website form header -->
<template name="website_form_header">
  <div class="row">
    <div class="col-md-7">
      {{#if currentUser}}
      <a class="btn btn-default js-toggle-website-form" href="#">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
      {{else}}
      <div class="alert alert-info" role="alert">
        <p>Please Sign in to
          <strong>vote</strong> or
          <strong>add a new website</strong>
        </p>
      </div>
      {{/if}}
    </div>
    <div class="col-md-5">
      <div class="input-group" id="search">
        <input type="text" class="form-control" placeholder="Search for..." id="search-box">
        <span class="input-group-btn">
          <button class="btn btn-default js-search" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</template>

<!-- Website form body-->
<template name="website_form_body">
  <div class="row">
    <div class="col-md-12">
      <div id="website_form" class="hidden_div">
        <form class="js-save-website-form">
          <!-- URL input -->
          <div class="form-group">
            <label for="url">Site address&nbsp;
              <span class="required glyphicon glyphicon-asterisk"></span>
            </label>
            <div class="input-group">
              <input type="text" class="form-control" id="url" placeholder="http://www.mysite.com" required>
              <span class="input-group-btn" id="getUrlButton">
                <button class="btn btn-default js-get-url-info" type="button">
                  <span class="glyphicon glyphicon-link"></span>&nbsp;Get URL info
                </button>
              </span>
            </div>
          </div>
          <!-- Title input -->
          <div class="form-group">
            <label for="title">Title</label>
            <div class="title-placeholder">
              <input type="text" class="form-control" id="title" placeholder="Mysite">
            </div>
          </div>
          <!-- Description input -->
          <div class="form-group">
            <label for="description">Description&nbsp;
              <span class="required glyphicon glyphicon-asterisk"></span>
            </label>
            <div id="description-placeholder">
              <input type="text" class="form-control" id="description" placeholder="I found this site really useful for ..." required>
            </div>
          </div>
          <!-- Asterisk required description -->
          <div class="form-group">
            <p class="required">Fields with
              <span class="required glyphicon glyphicon-asterisk"></span> are required</p>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>

<!-- List of website items -->
<template name="website_list">
  <ol id="website_list">
    {{#each websites}} {{>website_item}} {{/each}}
  </ol>
</template>

<!-- Individual website entry -->
<template name="website_item">
  <li class="item" id="{{_id}}">
    <a href="{{url}}">{{title}}</a>
    <p>{{description}}</p>
    <a href="#" class="btn {{upvotesButtonClass}} js-upvote voting">
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </a>
    <p class="votes positive">{{upvotes}}</p>
    <a href="#" class="btn {{downvotesButtonClass}} js-downvote voting">
      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </a>
    <p class="votes negative">{{downvotes}}</p>
    <p class="date">Created on: {{createdOn}}</p>
    <a href="websites/{{_id}}" class="btn btn-info btn-xs">Details&nbsp;&nbsp;&gt;&gt;</a>
  </li>
</template>
